# =========================
# Java / Maven
# =========================
**/target/
*.class

# =========================
# IntelliJ IDEA
# =========================
**/.idea/
*.iml

# =========================
# Angular / Node
# =========================
**/node_modules/
**/dist/

# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
Thumbs.db
.DS_Store